{% macro box(type, link, image, header, description) %}

{% import "macros/arrow.html.twig" as arrow %}

  <a class="boxes--box {{ type }}" href="{{ link }}" title="{{ header }}">
    {% if image %}<img src="{{ image }}" width="380" height="130" alt="">{% endif %}
    <div class="boxes--box-inner">
      <h2 class="boxes--box-header">{{ header }}</h2>
      <p class="boxes--box-content">{{ description }}</p>
      <div>{{ arrow.arrowLink('', type) }}</div>
    </div>
  </a>

{% endmacro %}

{% macro boxPlot(class, title, status, area, minimumPrice, salesPrice) %}
  <article class="boxes--box is-inside-context-box {{ class }}">
    <div class="boxes--box-inner">
      <h3 class="boxes--box-plot-title">{{ title }}</h3>
      <div class="boxes--box-plot-infos">
        <div class="boxes--box-plot-info">
          <p class="boxes--box-plot-info-key">Status</p>
          <p class="boxes--box-plot-info-value">{{ status }}</p>
        </div>
        <div class="boxes--box-plot-info">
          <p class="boxes--box-plot-info-key">Areal (m2)</p>
          <p class="boxes--box-plot-info-value">{{ area }}</p>
        </div>
        <div class="boxes--box-plot-info">
          <p class="boxes--box-plot-info-key">Mindstepris</p>
          <p class="boxes--box-plot-info-value">{{ minimumPrice }}</p>
        </div>
        <div class="boxes--box-plot-info">
          <p class="boxes--box-plot-info-key">Salgspris</p>
          <p class="boxes--box-plot-info-value">{{ salesPrice }}</p>
        </div>
      </div>
      <div class="boxes--box-plot-link">
        <div class="boxes--box-plot-link-icon">{% include '/icons/pdf.svg' %}</div>
        <a href="#" class="boxes--box-plot-link-text">Yderligere information</a>
      </div>
    </div>
  </article>

{% endmacro %}
