{% extends "extends/base.html.twig" %}
{% import "extends/box.html.twig" as box %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% import "macros/filters.html.twig" as filters %}
{% import "macros/nav.html.twig" as nav %}
{% import "macros/map.html.twig" as map %}

{% block title %}Villagrund i Malling{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}

{% block nav %}
  {{ nav.nav('is-villa', null, null, null) }}
{% endblock %}

{% block content %}

  <header class="header-subpage is-villa">
    <div class="header-subpage--inner is-villa">
      <div class="header-subpage--info">
        {{ breadcrumb.breadcrumbs([{link: 'villagrund', title: 'Villagrund'}], 'is-villa') }}
        <h1 class="header-subpage--title is-villa">
          Malling
        </h1>
      </div>
    </div>
  </header>

  <div class="map">
    <div class="map--inner">
      <div id="mapid" class="map--view"></div>
      {{ filters.mapFilters() }}
    </div>
  </div>

  <div class="content-boxes">
    <div class="content-boxes--inner">
    <div class="content-box">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Beskrivelse</h2>
          </div>
          <div class="content-box--content has-spacing">
            <div class="content-wysiwyg">
              <h2>Malling</h2>
              <p>
                Her kan være en tekst omkring Malling og området deromkring.
              </p>
              <h3>Andet afsnit</h3>
              <p>
                Der kan blandt andet laves afsnit som denne.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Udbud</h2>
          </div>
          <div class="content-box--content">
            <div class="boxes">
              <div class="boxes--inner">
                {% include 'extends/boxes/villagrund/malling/balskaervej.html.twig' %}
                {% include 'extends/boxes/villagrund/malling/krekaertoften.html.twig' %}
                {% include 'extends/boxes/villagrund/malling/krekaervangen.html.twig' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ map.area([
      { latitude: 56.037144, longitude: 10.194626, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },
      { latitude: 56.057144, longitude: 10.124626, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },      
    ]) 
  }}

{% endblock %}
