{% extends "extends/base.html.twig" %}
{% import "extends/box.html.twig" as box %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% import "macros/tabs.html.twig" as tabs %}
{% import "macros/filters.html.twig" as filters %}
{% import "macros/nav.html.twig" as nav %}

{% block title %}Villagrund i Solbjerg{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}

{% block nav %}
  {{ nav.nav('is-villa', null, null, null) }}
{% endblock %}

{% block content %}

  <header class="header-subpage">
    <div class="header-subpage--inner is-villa">
      <div class="header-subpage--info">
        {{ breadcrumb.breadcrumbs([{link: 'villagrund', title: 'Villagrund'}], 'is-villa') }}
        <h1 class="header-subpage--title is-villa">
          Solbjerg
        </h1>
      </div>
      {{ tabs.subheaderTabs('is-active', null, null, null, 'is-villa') }}
    </div>
  </header>

  <div class="map">
    <div class="map--inner">
      <div id="mapid" class="map--view"></div>
      {{ filters.mapFilters() }}
    </div>
  </div>

  <div class="content-boxes">
    <div class="content-boxes--inner">

    <div class="content-box is-alpha">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Beskrivelse</h2>
          </div>
          <div class="content-box--content has-spacing">
            <div class="content-wysiwyg">
              <h2>Solbjerg</h2>
              <p>
                Her kan være en tekst omkring Solbjerg og området deromkring.
              </p>
              <h3>Andet afsnit</h3>
              <p>
                Der kan blandt andet laves afsnit som denne.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box is-beta">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Kontakt</h2>
          </div>
          <div class="content-box--content has-spacing">
            <div class="content-wysiwyg">
              <p>
                Grundsalg<br>
                Bolig og Projektudvikling<br>
                Kalkværksvej 10<br>
                8000 Aarhus C<br>
                Telefon: 89 40 45 00
              </p>
              <p>E-mail: <a href="mailto:grundsalg@mtm.aarhus.dk">grundsalg@mtm.aarhus.dk</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Udbud</h2>
          </div>
          <div class="content-box--content">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var map;
    var ajaxRequest;
    var plotlist;
    var plotlayers=[];

    // set up the map
    map = new L.Map('mapid', { scrollWheelZoom: false });

    // create the tile layer with correct attribution
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});

    // start the map in South-East England
    map.setView(new L.LatLng(56.050660, 10.187073),11);
    map.addLayer(osm);
  </script>

{% endblock %}
