{% macro mapFilters() %}

  {% import "macros/checkbox.html.twig" as checkbox %}
  
  <div class="map--filters">
    <div class="map--filters-checkboxes">
      {{ checkbox.filterCheckbox('Ledige', 'is-available') }}
      {{ checkbox.filterCheckbox('Udsolgt', 'is-sold') }}
      {{ checkbox.filterCheckbox('Fremtidige', 'is-future') }}
      {{ checkbox.filterCheckbox('Skov', 'is-forrest') }}
      {{ checkbox.filterCheckbox('Fritidsaktiviter', 'is-activities') }}
      {{ checkbox.filterCheckbox('Børnehaver', 'is-daycare') }}
      {{ checkbox.filterCheckbox('Skoler', 'is-school') }}
    </div>
  </div>

{% endmacro %}