{% extends "extends/base.html.twig" %}
{% import "extends/box.html.twig" as box %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% import "macros/filters.html.twig" as filters %}
{% import "macros/tabs.html.twig" as tabs %}
{% import "macros/nav.html.twig" as nav %}
{% import "macros/map.html.twig" as map %}
{% import "macros/arrow.html.twig" as arrow %}

{% block title %}Krekærtoften i Malling{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}

{% block nav %}
  {{ nav.nav('is-villa', null, null, null) }}
{% endblock %}

{% block content %}

  <header class="header-subpage">
    <div class="header-subpage--inner is-villa">
      <div class="header-subpage--info">
        {{ breadcrumb.breadcrumbs([{link: 'villagrund', title: 'Villagrund'}, {link: 'villagrund/malling', title: 'Malling'}], 'is-villa') }}
        <h1 class="header-subpage--title is-villa">
          Krekærtoften
        </h1>
      </div>
      {{ tabs.subheaderTabs('is-active', null, null, null, 'is-villa') }}
    </div>
  </header>

  <div class="map">
    <div class="map--inner">
      <div id="mapid" class="map--view"></div>
      {{ filters.mapFilters() }}
    </div>
  </div>

  <div class="content-boxes">
    <div class="content-boxes--inner">
      
      <div class="content-box is-alpha">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Om grundene</h2>
          </div>
          <div class="content-box--content has-spacing">
            <p class="content-box--text">
              Aarhus kommune sælger byggegrunde ved Krekærvangen og Krekærtoften i Malling til de priser, der fremgår ved klik på de enkelte grunde eller herunder.
              <br><br>Grundene er omfattet af lokalplan 711.
            </p>
          </div>
        </div>
      </div>

      <div class="content-box is-beta">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Dokumenter</h2>
          </div>
          <div class="content-box--content">
            <ul class="content-box--link-with-icons">
              <li class="content-box--link-with-icon">{% include '/icons/link.svg' %}<a href="#" class="content-box--link-with-icon-text">Lokalplan</a></li>
              <li class="content-box--link-with-icon">{% include '/icons/pdf.svg' %}<a href="#" class="content-box--link-with-icon-text">Salgsvilkår</a></li>
              <li class="content-box--link-with-icon">{% include '/icons/txt.svg' %}<a href="#" class="content-box--link-with-icon-text">Tilbudsblanket</a></li>
              <li class="content-box--link-with-icon">{% include '/icons/link.svg' %}<a href="#" class="content-box--link-with-icon-text">Linjeføringsforslag - Bane Danmark</a></li>
            </p>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Villagrunde i Krekærtoften</h2>
          </div>
          <div class="content-box--content">
              <div class="boxes">
                <div class="boxes--inner">
                {{ box.boxPlot('is-offering', 'Krekærtoften 102', 'Udbud', '879', '792500', '792500') }}
                {{ box.boxPlot('is-offering', 'Krekærtoften 104', 'Udbud', '879', '792500', '792500') }}
                {{ box.boxPlot('is-available', 'Krekærtoften 110', 'Ledig', '752', '787500', '787500') }}
                {{ box.boxPlot('is-available', 'Krekærtoften 108', 'Ledig', '752', '787500', '787500') }}
                {{ box.boxPlot('is-available', 'Krekærtoften 116', 'Ledig', '752', '787500', '787500') }}
                {{ box.boxPlot('is-available', 'Krekærtoften 112', 'Ledig', '752', '787500', '787500') }}
                </div>
              </div>
          </div>
          <div class="content-box--show-more">
            <h3 class="content-box--show-more-title"><a href="#">Vis alle grunde</a></h3><a href="#">{{ arrow.arrowLink('#', 'content-box--show-more-arrow', 'down') }}</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{ map.offering([
      { 
        polygon: '[
          [56.02985, 10.19255],
          [56.02997, 10.19246],
          [56.02991, 10.19206],
          [56.02977, 10.19211],
          [56.02979, 10.19231],
          [56.02982, 10.19246],
        ]',
        color: '#4e9d2d',
        link:'#', 
        header: 'Krekærtoften 52', 
        status: 'Ledig',
        area: '745', 
        minimumPrice: '732.000', 
        salesPrice: '732.000',
      },
      { 
        polygon: '[
          [56.02967, 10.19262],
          [56.02982, 10.19251],
          [56.02976, 10.19211],
          [56.02963, 10.19216],
          [56.02962, 10.19236],
          [56.02965, 10.1925],
        ]', 
        link:'#',
        color: '#4e9d2d',
        header: 'Krekærtoften 50', 
        status: 'Ledig', 
        area: '745', 
        minimumPrice: '732.000', 
        salesPrice: '732.000',
      },
      { 
        polygon: '[
          [56.02948, 10.19269],
          [56.02963, 10.19258],
          [56.02957, 10.19218],
          [56.02943, 10.19224],
          [56.02943, 10.19244],
          [56.02946, 10.19257],
        ]', 
        link:'#',
        color: '#e30613',
        header: 'Krekærtoften 48', 
        status: 'Solgt', 
        area: '745', 
        minimumPrice: '732.000', 
        salesPrice: '732.000',
      },
      { 
        polygon: '[
          [56.02932, 10.19269],
          [56.02948, 10.19271],
          [56.0294, 10.19225],
          [56.02926, 10.19231],
          [56.02926, 10.19251],
          [56.02928, 10.19264],
        ]', 
        link:'#',
        color: '#e30613',
        header: 'Krekærtoften 46', 
        status: 'Solgt', 
        area: '745', 
        minimumPrice: '732.000', 
        salesPrice: '732.000',
      },
    ]) 
  }}

{% endblock %}
