{% extends "extends/base.html.twig" %}
{% import "extends/box.html.twig" as box %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% import "macros/filters.html.twig" as filters %}
{% import "macros/map.html.twig" as map %}

{% block title %}Villa{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}

{% block nav %}
  {{ nav.nav('is-villa', null, null, null) }}
{% endblock %}

{% block content %}

  <header class="header-subpage">
    <div class="header-subpage--inner is-villa">
      <div class="header-subpage--info">
        {{ breadcrumb.breadcrumbs([], 'is-villa') }}
        <h1 class="header-subpage--title is-villa">
          Villagrund
        </h1>
      </div>
    </div>
  </header>

<div class="map">
  <div class="map--inner">
    <div id="mapid" class="map--view"></div>
    {{ filters.mapFilters() }}
  </div>
</div>

  <div class="content-boxes">
    <div class="content-boxes--inner">
      <div class="content-box">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Villagrunde i Aarhus Kommune</h2>
          </div>
          <div class="content-box--content">
            <div class="boxes">
              <div class="boxes--inner">
                {% include 'extends/boxes/villagrund/malling/malling.html.twig' %}
                {% include 'extends/boxes/villagrund/solbjerg/solbjerg.html.twig' %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{{ map.area([
    { latitude: 56.235337, longitude: 10.222778, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },
    { latitude: 56.248691, longitude: 10.260544, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },
    { latitude: 56.165053, longitude: 10.130081, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },
    { latitude: 56.157406, longitude: 10.150681, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },
    { latitude: 56.149757, longitude: 10.171280, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },
    { latitude: 56.037144, longitude: 10.194626, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },
    { latitude: 56.057144, longitude: 10.124626, link:'#', header: 'Malling', text: 'Aarhus har markant tilflytning og vækst, nye bydele og erhvervsområder, og en letbane på vej. Se de store byudviklingsprojekter her.' },       
  ]) 
}}

{% endblock %}
